# Ruta del SDK de Android (opcional si ANDROID_HOME/ANDROID_SDK_ROOT ya está configurado)
# sdk.dir=/ruta/a/Android/Sdk

TRANSLATION_API_KEY=TU_TRANSLATION_API_KEY
FACEBOOK_APP_ID=TU_FACEBOOK_APP_ID
FACEBOOK_CLIENT_TOKEN=TU_FACEBOOK_CLIENT_TOKEN
